# ==============================
# Секреты — НИКОГДА не в гит!
# ==============================
.env
.env.*
!.env.example
.initial_credentials
*.pem
*.key

# Node
node_modules/
dist/
tmp/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
